.navbar {
    width: 100%;
    background-color: whitesmoke;
    overflow: auto;
    justify-content: space-between;
  }
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(26, 12, 75);
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: #000;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }