<div class="container">
    <div>
        <h1><b>90 Days Return</b></h1>
        <p>5th Avenue, E 28th st, <br> brooklyn
        NY , 2300 USA</p>
    </div>

    <div>
        <h1><b>Free Delivary</b></h1>
        <p>5th Avenue, E 28th st, <br>
        London, UK</p>
    </div>
    <div>
        <h1><b>Secure Payment</b></h1>
        <p>5th Avenue, E 28th st, <br>
        Paris, 2300 Europe</p>
    </div>
    <div>
        <h1><b>100% Free Warranty</b></h1>
        <p>5th Avenue, E 28th st, <br>
        128th Avenue UAE.</p>
    </div>
</div>
