.main-container{
    background-color: rgb(5, 5, 114);
    padding: 30px;
    color: white;
    border: 3px solid red;
}
.btn{
    background-color: rgb(34, 149, 231);
    padding: 15px;
    margin: 15px;
    color: white;
}
.paragraph-1{
    padding: 10px;
}