<div class="main-container">
    <h1><b>KI-ChatBots & PhonrBots <br> auf einer einzigartigen Platfrom</b></h1>

    <p class="paragraph-1">
        Beantworten sie  bis zu 80% der knowlideger of maedh the unity and coherence of
         ideas among sentences is what constitutes a paragraph <br>
        <li> siev wollen 2024 auf Bots mit Genarative AI sitigerin?</li>
        <li>sie wollan mit Automitirizer Kosten senken and Effilizen tourisum?</li>
        <li>Smart Bots and  auf Bots mit Genarative AI sitigerin?</li>
    </p>
    <!-- <div class="btn"> -->
        <button class="btn">Join with US</button>
    <!-- </div> -->
</div>
