 <div class="container">
  <div class="sub-container">



    <div class="image-container">
        <ng-container *ngFor="let data of products">
            <img [src]="data?.image" alt="" />
         </ng-container>
     </div>


       <div>
            <img src="../../../../assets/images/5th-sec-pic/footerItem3.png" alt="" />
        </div>

    <div>
      <img src="../../../../assets/images/5th-sec-pic/footerItem4.png" alt="" />
    </div>

    <div>
      <img src="../../../../assets/images/5th-sec-pic/footerItem5.png" alt="" />
    </div>

    <div>
      <img src="../../../../assets/images/5th-sec-pic/footerItem6.png" alt="" />
    </div>

    <!-- <div>
      <img src="../../../../assets/images/5th-sec-pic/footerItem6.png" alt="" />
    </div> -->

    <div>
     <img src="../../../../assets/images/5th-sec-pic/footerItem2.png"
      alt="" />
    </div>
   
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
