<div>
  <h1 class="writing-part"><b>Das sagen unsere Kunden</b></h1>
</div>


<div class="main-container">


  <div class="test-container">
  
             <div class="pic-container">
                      <img style="height: 160px; width: 160px"src="../../../../assets/images/contact-pg-img/Image (7).png"alt=""/>
              </div>

            <div class="writing-container">
                <p> It is a very important form of writing 
                  almost everything in paragraphs, be it an answer, essay, sto It is a very important form of writing 
                  almost everything in paragraphsIt is a very important form of writing. </p>
                 <h3 style="padding-top: 20px;">KYLE MERWIN</h3>
               <P><span style="color: gray">C0-owner</span></P>
          </div>
  </div>






  <div class="test-container">
  
    <div class="pic-container">
             <img style="height: 160px; width: 160px"src="../../../../assets/images/contact-pg-img/Image (7).png"alt=""/>
     </div>

   <div class="writing-container">
       <p> It is a very important form of writing 
        almost everything in paragraphs, be it an answer, essay, sto It is a very important form of writing 
        almost everything in paragraphsIt is a very important form of writing. </p>
        <h3 style="padding-top: 20px;">KYLE MERWIN</h3>
      <P><span style="color: gray">C0-owner</span></P>
 </div>
</div>





    
<div class="test-container">
  
    <div class="pic-container">
             <img style="height: 160px; width: 160px"src="../../../../assets/images/contact-pg-img/Image (7).png"alt=""/>
     </div>

   <div class="writing-container">
       <p>It is a very important form of writing 
        almost everything in paragraphs, be it an answer, essay, sto It is a very important form of writing 
        almost everything in paragraphsIt is a very important form of writing. </p>
        <h3 style="padding-top: 20px;">KYLE MERWIN</h3>
      <P><span style="color: gray">C0-owner</span></P>
 </div>
</div>





    
<div class="test-container">
  
    <div class="pic-container">
             <img style="height: 160px; width: 160px"src="../../../../assets/images/contact-pg-img/Image (7).png"alt=""/>
     </div>

   <div class="writing-container">
       <p> It is a very important form of writing 
        almost everything in paragraphs, be it an answer, essay, sto It is a very important form of writing 
        almost everything in paragraphsIt is a very important form of writing. </p>
        <h3 style="padding-top: 20px;">KYLE MERWIN</h3>
      <P><span style="color: gray">C0-owner</span></P>
 </div>
</div>



        
</div>
