.btn{
    border-radius: 25px;
    padding: 10px;
    color: rgb(23, 23, 124);
    background-color: white;
    font-size: 15px;
    font-weight: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}
.btn-div{
    text-align: center;
}
.sub-container{
    background-color: rgb(235, 229, 229);
    padding: 50px;
    margin: 40px;
    border-radius: 20px;
}
h2{
    padding: 10px;
}
p{
    padding: 10px;
}