<div class="main-container">
    <div>
        <h1 style="text-align: center; font-size: 30px;"><b>Frequently Ask Questions</b></h1>
    </div>

    <div class="sub-container">
        <h2>WAS ERWARTET MICH IM ERTSGESTGESPRACH?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium cumque recusandae voluptate nam repellendus! Corrupti natus voluptas <br>
             quam illo quod asperiores, ipsum error, perspiciatis eaque quisquam beatae. Iste, ad voluptate! kmjjhu bfryhh n[jodp of the main power in state.</p>


        <hr>
        <h2>WAS ERWARTET MICH IM ERTSGESTGESPRACH?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium cumque recusandae voluptate nam repellendus! Corrupti natus voluptas <br>
            quam illo quod asperiores, ipsum error, perspiciatis eaque quisquam beatae. Iste, ad voluptate! kmjjhu bfryhh n[jodp of the main power in state.</p>

            <div class="btn-div">
                <button class="btn">Find More FAQs</button>
            </div>

    </div>

</div>
