<div class="main-container">
  <h1 class="h1-tag"><b>Warum sich Unternehmen fur BOTfriends entscheiden</b></h1>
  <div class="writing-container">
    <div *ngFor="let i of items">
      <div class="icon-img">
        <img style="width: 60px; height: 60px" [src]="i?.img" alt="" />

        <h1>{{ i.tag }}</h1>
        <p>
          {{ i.text }}
        </p>
        <button style="padding: 7px; margin: 20px;">System integrieren</button>
        <button (click)="onLikeCount()">Like</button>
      </div>
    </div>
  </div>
</div>
